# ===== Azure Storage =====
AZURE_STORAGE_CONNECTION_STRING=""
BLOB_CONTAINER_IMAGES="question-images"
BLOB_CONTAINER_MCQS="question-metadata"

# ===== Azure AI Vision OCR =====
AZURE_VISION_ENDPOINT=""
AZURE_VISION_KEY=""